a {
  background-color: rgb(023,162,183);
}

td {
 font-size: 13px;
}

th {
  font-size: 13px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.more-button {
  font-size: 13px;
}

table.dataTable{
  margin: 0;
}

input[type=search]{
  width: 90px !important;
}

.progress-bar-success{
background-color:green;
}
