.bg-gradient-primary {
    background-color: #4e73df;
    background-size: cover;
}
.container{
    height: 100%;
}
#msg-error{
    color: red;
}

.col{    
    background-color: white;
    margin-top: 15%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#map, #new_map{
    width:100%;
    height: 100%;
}

#btn-map{
    border-radius: 1%;
    float: right;
}
#apply, #reset{
    border-radius: 1%;
    margin-bottom: 5px;
}


.top-icons{
    padding-bottom: 10px;
    clear: both;
}
.fas.fa-arrow-circle-left{
    float: left;
}
.bottom-icons{
    clear: both;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    padding-left: 8px;

}
.dropdown-content p {
    color: black;
    text-size-adjust: 5px;
    padding-left: 5px;
    text-decoration: none;
    display: inline;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}