.voucher {
    background-color: #2196F3;
    text-align: center;
    
}

#redeem1-button{
    width: 100%;
}

#decline1-button{
    width: 100%;
}

#redeem2-button{
    width: 100%;
}

#decline2-button{
    width: 100%;
}

